{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}
{% trans "Sign Up" %}
{% endblock head_title %}

{% block content %}
    <h1>Sign Up</h1>

    <p>
        {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}
    </p>

    {% url 'account_signup' as action_url %}

    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
        {% csrf_token %}
        {{ form.as_div|safe }}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        {% endslot %}

        {% slot actions %}
        <button type="submit">{% trans "Sign Up" %}</button>
        {% endslot %}
    {% endelement %}

    {% if SOCIALACCOUNT_ENABLED %}
    {% include 'components/social_login.html' %}
    {% endif %}
{% endblock content %}