{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
            {% endblock head_title %}
            - My Project
        </title>
        {% block extra_head %}
        {% endblock extra_head %}
        {% include 'components/head.html' %}
    </head>
    <body>
        {% block body %}
            {% include "components/messages.html" with messages=messages class='' %}
            <div class="row w-100 h-100vh align-items-center">
                <div class="col-md-8 col-xl-6 mx-auto mw-768">
                    <div class="card">
                        <div class="row w-100 margin-auto">
                            <div class="px-4 py-5 auth">
                                {% if user.is_authenticated %}
                                <div class="mb-2"><a href="{% url 'dashboard:data' %}">Home</a></div>
                                {% endif %}
                                {% block content %}
                                {% endblock content %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock body %}

        {% block extra_body %}
        {% endblock extra_body %}
    </body>
</html>
