body {
    font-family: "Roboto", sans-serif;
    background-color: #f9fafb;
}

table * {
    font-size: 0.85rem
}

button, a{
    box-shadow: none !important;
}

.table>:not(:last-child)>:last-child>*{
    border-bottom-color: #a5b4d3;
    padding: 12px 8px;
}

.table-hover>tbody>tr:hover{
    --bs-table-accent-bg: #f5f7ff !important;
}

th {
    background: #f5f7ff !important;
    position: sticky;
    top: -1px;
    font-weight: normal;
    border-right: 1px dotted #a5b4d3;
}

th a {
    text-decoration: none;
    color: #0000008a !important;
    font-weight: 600;
}

th,
td {
    white-space: nowrap;
}

.asc::after {
    content: " ↑";
}

.desc::after {
    content: " ↓";
}

h2 {
    font-size: 1.25rem;
}

.pagination {
    position: absolute;
    bottom: 0;
    width: calc(100% - 1rem);
}

.btn {
    line-height: 1 !important;
    padding: 8px 12px;
}

label {
    width: 100%;
}

a, .text-primary {
    text-decoration: none;
    color: #727cf5 !important;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #4250f2;
}

.errorlist{
    color: #dc3545;
    margin-bottom: 0;
    margin-top: 0.25rem;
}

.messages {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    background: #fff;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-width: 300px;
    max-width: 100%;
    border-radius: 4px;
    z-index: 99;
    border-bottom: 2px solid #727cf5;
    color: #727cf5;
}

.fs-8{
    font-size: 0.8rem;
}

.fs-9{
    font-size: 0.9rem;
}

.btn-primary {
    color: #fff;
    background-color: #727cf5;
    border-color: #727cf5;
}

.btn-primary::hover, .btn-primary::focus {
    color: #fff;
    background-color: #4250f2;
    border-color: #4250f2;
}

.btn-secondary {
    color: #fff;
    background-color: #7987a1;
    border-color: #7987a1;
}

.btn-secondary::hover, .btn-secondary::focus {
    color: #fff;
    background-color: #677389;
    border-color: #677389;
}

.page-link{
    color: #727cf5;
    text-transform: capitalize !important;
}

.page-item.active .page-link{
    color: #fff !important;
    background-color: #727cf5;
    border-color: #727cf5;
}

.page-item.active .page-link:hove, .page-item.active .page-link:focus{
    background-color: #4250f2;
    border-color: #4250f2;
}

.range-inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    color: #606060;
    font-size: 1rem;
}

.h-100vh{
    height: 100vh;
}

.row{
    --bs-gutter-x: 0 !important;
}

.card{
    box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
    border: 0;
}

input[type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
}

.w-768{
    max-width: 768px;
}

/* profile */
.table-card {
    margin: 3rem 1.5rem 5rem 1.5rem;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
    border: none;
    height: calc(100vh - 8rem);
    padding: 1.5rem;
    background-color: #fff;
}


.table-messages {
    right: 0;
    bottom: -4rem;
}

.profile-table {
    height: calc(100vh - 128px);
    overflow: scroll;
    border: 1px solid #a5b4d3;
}

.profile-table::-webkit-scrollbar{
    width: 16px;
    height: 16px;
    margin: auto;
}

.profile-table::-webkit-scrollbar-track {
  background: #f5f7ff;
  border-left: 1px solid #a5b4d3;
  border-top: 1px solid #a5b4d3;
}

.profile-table::-webkit-scrollbar-thumb {
  background: #b5b9eb;
}

.profile-table::-webkit-scrollbar-thumb:hover {
  background: #979ef3;
}

.profile-form input, .profile-form select, .profile-form textarea{
    width: 100%;
    padding: 0.5rem 0.8rem;
    line-height: 1.5;
    border: 1px solid #e9ecef;
    border-radius: 0.25rem;
    margin: 0;
    font-size: 0.9rem;
    outline: none;
    box-shadow: none;
}

.profile-form input:focus, .profile-form select:focus, .profile-form textarea:focus{
    border-color: #ced4da
}

.profile-form textarea{
    height: 40px;
}

.profile-form select option{
    padding: 0.25rem 0rem;

}

/* add profile */
.form-table {
    overflow-x: auto;
    margin-bottom: 56px;
    border: 0;
    padding: 0 1rem;
}

.form-table::-webkit-scrollbar-track {
  border: 0;
}

.form-submit{
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem
}

/* auth forms */
.auth h1{
    font-weight: 700;
    font-size: 25px;
    color: #000865;
}

.auth p{
    color: #6c757d !important;
    font-size: 0.9rem;
}

.auth button {
    color: #fff;
    background-color: #727cf5;
    border-color: #727cf5;
    line-height: 1 !important;
    padding: 8px 12px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-shadow: none !important;
    border: 1px solid transparent;
    font-size: 0.9rem;
}

.auth button:hover, .auth button:focus {
    color: #fff;
    background-color: #4250f2;
    border-color: #4250f2;
}

.social-link:hover, .social-link:focus{
    box-shadow: 0 0 10px 0 rgb(114 124 245 / 25%) !important;
}

.auth-form {

}