table * {
    font-size: 0.9rem
}

th {
    background: #e5e6e7 !important;
    position: sticky;
    top: -1px;
    font-weight: normal;
}

th a {
    text-decoration: none;
}

th,
td {
    white-space: nowrap;
}

.asc::after {
    content: " ↑";
}

.desc::after {
    content: " ↓";
}

h2 {
    font-size: 1.25rem;
}

.pagination {
    position: absolute;
    bottom: 0;
    width: calc(100% - 1rem);
}

.btn {
    line-height: 1 !important;
}

input,
select {
    width: 200px;
    height: 30px;
    margin: 0 0.25rem;
}

label {
    width: 150px;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.errorlist{
    color: #dc3545;
}

/* main */
.crud-table {
    height: calc(100vh - 128px);
    overflow: scroll;
}