{% extends "index.html" %}

{% load render_table from django_tables2 %}

{% block title %}{{title}} - My Project{% endblock title %}

{% block content %}
<div class="card table-card">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex align-items-center">
            {% include 'menu.html' %}
            <h2 class="text-uppercase m-0 title">{{title}}</h2>
        </div>
    </div>

    {% include "components/messages.html" with messages=messages class='table-messages' %}

    <div class="data-table form-table">
        <form method="post" action="{% url 'dashboard:data-edit' pk=pk %}" class="row">
            {% csrf_token %}
            {{ form.as_div|safe }}  <!--use as_p if not using as_div-->
            <div class="form-submit d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-primary ms-1">{% if pk %}Update{% else %}Add{% endif %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}