<nav class="notification-bar navbar navbar-expand-lg p-0">
    <div class="container-fluid p-0 me-1">
            <ul class="menu-bar navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link px-2 py-0" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-bell fs-125"></i>
                    </a>
                    <ul class="dropdown-menu px-3 py-4 position-absolute" aria-labelledby="navbarDropdown">
                        <h3 class="pb-3 px-1">Notifications</h3>
                        <div id="notifications">
                            <p class="text-center text-primary mt-4 notifications-na">No notifications found.</p>
                        </div>
                    </ul>
                </li>
            </ul>
    </div>
</nav>

<script>
    const notificationSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/notification/'
    );

    notificationSocket.onopen = function(event){
        console.log('Connected to ws.')
    }

    notificationSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        var notificationsNa = document.querySelector('.notifications-na');
        if (notificationsNa) notificationsNa.remove();

        var listItem = document.createElement("li");
        listItem.innerHTML = '<a href="#"><h4>' + data.title + '</h4><p>' + data.description + '</p><span>' + data.timesince + ' ago</span></a>';

        var parentUl = document.querySelector('#notifications');
        parentUl.prepend(listItem);
    }

    notificationSocket.onclose = function (e) {
        console.log(e)
    }

</script>